.skn-widget-list
  position:relative

  .widget-title
    background-color: $dark-pink-color
    color: #fff
    padding: 0.5em
    font-weight: 700
    text-transform: uppercase
    font-size: 1.5em
    margin: 0em
    text-align: center

  .uk-list
    margin: 0em

    li > a
      display: flex
      margin: 0em 1em

      &:hover
        text-decoration: none

      .image
        display: flex
        align-items: center
        img
          width: 7em

      .text
        .uk-text-large
          margin: 0.5em 0em
          font-weight: 700
        p
          margin: 0em
          color: #2e2e2e
          span
            color: $dark-pink-color
            font-weight: 700

        padding-left: 1em
        flex-grow: 1

    li:nth-of-type(odd)
      background-color: $grey-color
    li:nth-of-type(even)
      background-color: #BDBDBD
