/* Search Page */
.skn-search
  position: absolute
  top: 0em
  left: 0em
  background-color: #fff
  z-index: 10001
  min-height: 100%
  display: flex
  justify-content: center
  animation: bounceInDown 1s ease-in
  border-bottom: 1em solid #9C27B0

  .skn-search-container
    padding: 0.5em
    header
      h1,
      h2
        color: $dark-pink-color
        font-weight: 300
        position: relative

        a
          color: $dark-pink-color
        a:hover
          text-decoration: none
          color: #9C27B0

      h2
        animation: bounceInDown 0.5s ease-in
        animation-delay: 0.5s
      h2.ng-hide
        animation: bounceOutUp 0.5s ease-in
      h1
        span
          font-weight: 700
          font-style: italic
    section
      display: flex
      flex-wrap: wrap

.skn-search.ng-hide
  animation: bounceOutUp 1s ease-out
