.skn-item-special
  .margin
    .skn-image
      height: 25em
      width: 100%

      .overlay
        width: inherit
        height: inherit
        justify-content: center
        background: linear-gradient(200deg, rgba(103,58,183,0.5) 0%,rgba(236,64,122,0.5) 52%,rgba(233,30,99,0.5) 100%)

        .post-meta
          a
            font-size: 2.5em
            text-shadow: 3px 3px rgba(0,0,0,0.3)
          a:hover
            color: #FFC107
