.skn-item-basic
  .margin
    .category
      position: relative
      top: 0.2em
      z-index: 100
      p
        margin-bottom: 0.2em
        text-transform: uppercase
        a
          span
            border-bottom: 2px solid $dark-pink-color
            font-weight: 700
            color: $dark-pink-color
        a:hover
          text-decoration: none
          span
            color: #2B1848
            border-bottom: 2px solid #2B1848

    .skn-image
      background-size: cover
      background-position: center
      height: 15em
      width: 100%
      .overlay
        width: inherit
        height: inherit
        background-color: rgba(0,0,0,0.5)
        display: flex
        flex-direction: column
        flex-wrap: wrap
        justify-content: space-between
        .badges
          padding: 1em
          text-align: right

          img.sa-filipino-badge
            height: 2em

        .post-meta
          padding: 1em
          a
            color: #fff
            text-transform: uppercase
            font-weight: 700
            font-family: $default-font
          a:hover
            text-decoration: none
            color: $color-theme
          p
            color: #fff
            margin: 0em
            text-transform: capitalize
            span
              color: $color-theme
              font-weight: 700
              text-transform: uppercase
    margin: 1em

.skn-item-basic.ng-enter
  animation: bounceInUp 1s ease

.skn-item-basic.ng-enter-stagger
  animation-delay: 0.1s
