<div class="skn-item-basic
            skn-item-special
            uk-width-medium-2-3
            uk-width-small-1-1">
    <div class="margin">
        <div class="category">
            <p class="uk-text-small">
                <a ng-href="{{data.category.permalink}}"><span>{{data.category.name}}</span></a>
            </p>
        </div>
        <div class="skn-image"
             style="background-image:url('{{data.feature}}')">
            <div class="overlay">
                <div class="post-meta uk-width-1-1 uk-text-center">
                    <div ng-show="data.special"
                         class="uk-text-center special-image">
                        <img ng-src="{{data.special.img}}"/>
                    </div>
                    <a class="title uk-text-large"
                       ng-href="{{data.permalink}}"
                       ng-bind-html="data.title">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>