<div class="skn-item-basic
            uk-width-medium-1-3
            uk-width-small-1-1">
    <div class="margin">
    <div class="category">
        <p class="uk-text-small">
            <a ng-href="{{data.category.permalink}}"><span>{{data.category.name}}</span></a>
        </p>
    </div>
    <div class="skn-image"
         style="background-image:url('{{data.feature}}')">
        <div class="overlay">
            <div class="badges uk-width-1-1">
                <img class="sa-filipino-badge"
                     data-uk-tooltip="{pos:'top'}"
                     ng-show="data.tags.saFilipino"
                     title="Sa Filipino"
                     ng-src="{{data.tags.img}}"/>
            </div>
            <div class="post-meta uk-width-1-1">
                <a class="title uk-text-large"
                   
                   ng-href="{{data.permalink}}"
                   ng-bind-html="data.title">
                </a>
                <p class="uk-text-small">
                    <span>{{data.date}}</span>
                </p>
            </div>
        </div>
    </div>
    </div>
</div>