<div class="uk-width-1-1 skn-search"
     ng-show="displaySearch">
<div class="skn-search-container
            uk-width-medium-9-10
            uk-width-small-1-1">
    <header>
        <h2 ng-show="loadSearchText">
            Searching records ...
        </h2>
        <h1 ng-show="!loadSearchText">
            <a ng-click="closePage()" class="uk-icon-close"></a>
            Search result for <span>{{searchText}}</span>:
        </h1>
    </header>
    <section class="uk-width-1-1">
        <item-basic ng-repeat="item in items" data="item"></item-basic>
    </section>
</div>
</div>