<div class="skn-widget-list"
     ng-show="showList">
    <p class="widget-title">Related Posts</p>
    <ul class="uk-list uk-list-striped">
        <li ng-repeat="item in list">
            <a ng-href="{{item.permalink}}">
                <div class="text">
                    <p class="uk-text-large" ng-bind-html="item.title"></p>
                    <p><span>{{item.date}}</span></p>
                </div>
            </a>
        </li>
    </ul>
</div>