// Color variables (appears count calculates by raw css)
@color0: #ffffff; // Appears 54 times
@color1: #096484; // Appears 28 times
@color2: #52accc; // Appears 13 times
@color3: #e1a948; // Appears 11 times
@color4: #e5f8ff; // Appears 9 times
@color5: #f1f1f1; // Appears 9 times
@color6: #ecc88a; // Appears 8 times
@color7: #4796b3; // Appears 6 times
@color8: #e8be74; // Appears 6 times
@color9: #0095dd; // Appears 6 times
@color10: #d39323; // Appears 5 times
@color11: #e2ecf1; // Appears 4 times
@color12: #5b9dd9; // Appears 4 times
@color13: #bd831f; // Appears 4 times
@color14: #6eb9d4; // Appears 3 times
@color15: #74b6ce; // Appears 2 times
@color16: #dd9f32; // Appears 2 times

html {
  background: @color5;
}
a {
  color: #0073aa;
  &:hover {
    color: @color9;
  }
  &:active {
    color: @color9;
  }
  &:focus {
    color: @color9;
  }
}
#media-upload a.del-link:hover, div.dashboard-widget-submit input:hover, .subsubsub a:hover, .subsubsub a.current:hover  {
  color: @color9;
}
input[type=checkbox] {
  &:checked {
    before {
      color: @color1;
    }
  }
}
input[type=radio] {
  &:checked {
    before {
      background: @color1;
    }
  }
}
.wp-core-ui {
  input[type="reset"] {
    &:hover {
      color: @color9;
    }
    &:active {
      color: @color9;
    }
  }
  .button-primary {
    -webkit-box-shadow: inset 0 1px 0 @color6, 0 1px 0 rgba(0, 0, 0, 0.15);
    background: @color3;
    border-color: @color10;
    box-shadow: inset 0 1px 0 @color6, 0 1px 0 rgba(0, 0, 0, 0.15);
    color: white;
    &:hover {
      -webkit-box-shadow: inset 0 1px 0 @color8;
      background: @color16;
      border-color: @color13;
      box-shadow: inset 0 1px 0 @color8;
      color: white;
    }
    &:focus {
      -webkit-box-shadow: inset 0 1px 0 @color8;
      -webkit-box-shadow: inset 0 1px 0 @color8, 0 0 0 1px @color12, 0 0 2px 1px rgba(30, 140, 190, 0.8);
      background: @color16;
      border-color: @color13;
      box-shadow: inset 0 1px 0 @color8;
      box-shadow: inset 0 1px 0 @color8, 0 0 0 1px @color12, 0 0 2px 1px rgba(30, 140, 190, 0.8);
      color: white;
    }
    &:active {
      -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5), 0 0 0 1px @color12, 0 0 2px 1px rgba(30, 140, 190, 0.8);
      background: @color10;
      border-color: @color13;
      box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5), 0 0 0 1px @color12, 0 0 2px 1px rgba(30, 140, 190, 0.8);
      color: white;
    }
  }
  .wp-ui-primary {
    background-color: @color2;
    color: @color0;
  }
  .wp-ui-text-primary {
    color: @color2;
  }
  .wp-ui-highlight {
    background-color: @color1;
    color: @color0;
  }
  .wp-ui-text-highlight {
    color: @color1;
  }
  .wp-ui-notification {
    background-color: @color3;
    color: @color0;
  }
  .wp-ui-text-notification {
    color: @color3;
  }
  .wp-ui-text-icon {
    color: @color4;
  }
}
.wp-core-ui .button-primary[disabled], .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary.button-primary-disabled, .wp-core-ui .button-primary.disabled  {
  background: #db9925 !important;
  border-color: @color13 !important;
  color: #d1cdc7 !important;
  text-shadow: none !important;
}
.wrap .add-new-h2:hover, #add-new-comment a:hover, .tablenav .tablenav-pages a:hover, .tablenav .tablenav-pages a:focus  {
  background-color: @color2;
  color: @color0;
}
.view-switch {
  a.current {
    &:before {
      color: @color2;
    }
  }
  a {
    &:hover {
      before {
        color: @color3;
      }
    }
  }
}
.post-com-count {
  &:hover {
    after {
      border-top-color: @color2;
    }
    span {
      background-color: @color2;
      color: @color0;
    }
  }
}
strong {
  .post-com-count {
    &:after {
      border-top-color: @color3;
    }
    span {
      background-color: @color3;
    }
  }
}
#adminmenuback {
  background: @color2;
}
#adminmenuwrap {
  background: @color2;
}
#adminmenu {
  background: @color2;
  a {
    color: @color0;
  }
  div.wp-menu-image {
    &:before {
      color: @color4;
    }
  }
  li.menu-top {
    &:hover {
      div.wp-menu-image {
        &:before {
          color: @color0;
        }
      }
    }
  }
  li.opensub>a.menu-top {
    div.wp-menu-image {
      &:before {
        color: @color0;
      }
    }
  }
  li.wp-has-submenu.wp-not-current-submenu.opensub {
    &:hover {
      after {
        border-right-color: @color7;
      }
    }
  }
  .wp-submenu {
    .wp-submenu-head {
      color: @color11;
    }
    li.current {
      a {
        color: @color0;
      }
    }
  }
  a.wp-has-current-submenu {
    &:focus+.wp-submenu {
      li.current {
        a {
          color: @color0;
        }
      }
    }
  }
  .wp-has-current-submenu.opensub {
    .wp-submenu {
      li.current {
        a {
          color: @color0;
        }
      }
    }
  }
  .awaiting-mod {
    background: @color3;
    color: @color0;
  }
  .update-plugins {
    background: @color3;
    color: @color0;
  }
}
#adminmenu a:hover, #adminmenu li.menu-top:hover, #adminmenu li.opensub>a.menu-top, #adminmenu li>a.menu-top:focus  {
  background-color: @color1;
  color: @color0;
}
.about-wrap {
  h2 {
    .nav-tab-active {
      background-color: @color5;
      border-bottom-color: @color5;
    }
  }
}
.nav-tab-active {
  background-color: @color5;
  border-bottom-color: @color5;
  &:hover {
    background-color: @color5;
    border-bottom-color: @color5;
  }
}
#adminmenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu  {
  background: @color7;
}
#adminmenu .wp-submenu a, #adminmenu .wp-has-current-submenu .wp-submenu a, .folded #adminmenu .wp-has-current-submenu .wp-submenu a, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu a, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a  {
  color: @color11;
}
#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu .wp-has-current-submenu .wp-submenu a:focus, #adminmenu .wp-has-current-submenu .wp-submenu a:hover, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu a:focus, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover  {
  color: @color0;
}
#adminmenu .wp-submenu li.current a:hover, #adminmenu .wp-submenu li.current a:focus, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a:hover, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus  {
  color: @color0;
}
ul#adminmenu {
  a.wp-has-current-submenu {
    &:after {
      border-right-color: @color5;
    }
  }
}
ul#adminmenu>li.current>a.current {
  &:after {
    border-right-color: @color5;
  }
}
#adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head, .folded #adminmenu li.current.menu-top  {
  background: @color1;
  color: @color0;
}
#adminmenu li.wp-has-current-submenu div.wp-menu-image:before, #adminmenu a.current:hover div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before, #adminmenu li:hover div.wp-menu-image:before, #adminmenu li a:focus div.wp-menu-image:before, #adminmenu li.opensub div.wp-menu-image:before, .ie8 #adminmenu li.opensub div.wp-menu-image:before  {
  color: @color0;
}
#adminmenu li.current a .awaiting-mod, #adminmenu li a.wp-has-current-submenu .update-plugins, #adminmenu li:hover a .awaiting-mod, #adminmenu li.menu-top:hover>a .update-plugins  {
  background: @color7;
  color: @color0;
}
#collapse-menu {
  color: @color4;
  &:hover {
    color: @color0;
    #collapse-button {
      div {
        &:after {
          color: @color0;
        }
      }
    }
  }
}
#collapse-button {
  div {
    &:after {
      color: @color4;
    }
  }
}
#wpadminbar {
  background: @color2;
  color: @color0;
  .menupop {
    .ab-sub-wrapper {
      background: @color7;
    }
    .menupop>.ab-item {
      &:before {
        color: @color4;
      }
      &:hover {
        before {
          color: @color0;
        }
      }
    }
  }
  .quicklinks {
    .menupop {
      ul.ab-sub-secondary {
        background: @color15;
        .ab-submenu {
          background: @color15;
        }
      }
    }
    li {
      .blavatar {
        color: @color4;
      }
      a {
        &:hover {
          .blavatar {
            color: @color0;
          }
        }
      }
    }
    li#wp-admin-bar-my-account.with-avatar>a {
      img {
        background-color: @color14;
        border-color: @color14;
      }
    }
  }
  #adminbarsearch {
    &:before {
      color: @color4;
    }
    .adminbar-input {
      &::-webkit-input-placeholder {
        color: @color0;
        opacity: 0.7;
      }
      &:-moz-placeholder {
        color: @color0;
        opacity: 0.7;
      }
      &::-moz-placeholder {
        color: @color0;
        opacity: 0.7;
      }
      &:-ms-input-placeholder {
        color: @color0;
        opacity: 0.7;
      }
    }
  }
  #wp-admin-bar-user-info {
    .display-name {
      color: @color0;
    }
    a {
      &:hover {
        .display-name {
          color: @color0;
        }
      }
    }
    .username {
      color: @color11;
    }
  }
}
#wpadminbar .ab-item, #wpadminbar a.ab-item, #wpadminbar>#wp-toolbar span.ab-label, #wpadminbar>#wp-toolbar span.noticon  {
  color: @color0;
}
#wpadminbar .ab-icon, #wpadminbar .ab-icon:before, #wpadminbar .ab-item:before, #wpadminbar .ab-item:after  {
  color: @color4;
}
#wpadminbar .ab-top-menu>li:hover>.ab-item, #wpadminbar .ab-top-menu>li.hover>.ab-item, #wpadminbar .ab-top-menu>li>.ab-item:focus, #wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus, #wpadminbar-nojs .ab-top-menu>li.menupop:hover>.ab-item, #wpadminbar .ab-top-menu>li.menupop.hover>.ab-item  {
  background: @color7;
  color: @color0;
}
#wpadminbar>#wp-toolbar {
  li {
    &:hover {
      span.ab-label {
        color: @color0;
      }
    }
  }
  li.hover {
    span.ab-label {
      color: @color0;
    }
  }
  a {
    &:focus {
      span.ab-label {
        color: @color0;
      }
    }
  }
}
#wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar li:hover .ab-item:after, #wpadminbar li:hover #adminbarsearch:before  {
  color: @color0;
}
#wpadminbar .ab-submenu .ab-item, #wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop.hover ul li a, #wpadminbar-nojs .quicklinks .menupop:hover ul li a  {
  color: @color11;
}
#wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar li a:focus .ab-icon:before, #wpadminbar li .ab-item:focus:before, #wpadminbar li.hover .ab-icon:before, #wpadminbar li.hover .ab-item:before, #wpadminbar li:hover .ab-item:after, #wpadminbar li.hover .ab-item:after, #wpadminbar li:hover #adminbarsearch:before  {
  color: @color0;
}
#wpadminbar>#wp-toolbar>#wp-admin-bar-top-secondary>#wp-admin-bar-search {
  #adminbarsearch {
    input.adminbar-input {
      &:focus {
        background: @color14;
        color: @color0;
      }
    }
  }
}
.wp-pointer {
  .wp-pointer-content {
    h3 {
      background-color: @color1;
      border-color: #07526c;
      &:before {
        color: @color1;
      }
    }
  }
}
.wp-pointer.wp-pointer-top .wp-pointer-arrow, .wp-pointer.wp-pointer-top .wp-pointer-arrow-inner, .wp-pointer.wp-pointer-undefined .wp-pointer-arrow, .wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner  {
  border-bottom-color: @color1;
}
.media-item {
  .bar {
    background-color: @color1;
  }
}
.media-progress-bar {
  div {
    background-color: @color1;
  }
}
.details.attachment {
  -webkit-box-shadow: inset 0 0 0 3px @color0, inset 0 0 0 7px @color1;
  box-shadow: inset 0 0 0 3px @color0, inset 0 0 0 7px @color1;
}
.attachment.details {
  .check {
    -webkit-box-shadow: 0 0 0 1px @color0, 0 0 0 2px @color1;
    background-color: @color1;
    box-shadow: 0 0 0 1px @color0, 0 0 0 2px @color1;
  }
}
.media-selection {
  .attachment.selection.details {
    .thumbnail {
      -webkit-box-shadow: 0px 0px 0px 1px @color0, 0px 0px 0px 3px @color1;
      box-shadow: 0px 0px 0px 1px @color0, 0px 0px 0px 3px @color1;
    }
  }
}
.theme-browser {
  .theme.active {
    .theme-name {
      background: @color1;
    }
  }
  .theme.add-new-theme {
    a {
      &:hover {
        after {
          background: @color1;
        }
        span {
          &:after {
            color: @color1;
          }
        }
      }
      &:focus {
        after {
          background: @color1;
        }
        span {
          &:after {
            color: @color1;
          }
        }
      }
    }
  }
}
.theme-section.current {
  border-bottom-color: @color2;
}
.theme-filter.current {
  border-bottom-color: @color2;
}
body.more-filters-opened {
  .more-filters {
    background-color: @color2;
    color: @color0;
    &:before {
      color: @color0;
    }
    &:hover {
      background-color: @color1;
      color: @color0;
      before {
        color: @color0;
      }
    }
    &:focus {
      background-color: @color1;
      color: @color0;
      before {
        color: @color0;
      }
    }
  }
}
.widgets-chooser {
  li.widgets-chooser-selected {
    background-color: @color1;
    color: @color0;
    &:before {
      color: @color0;
    }
    &:focus {
      before {
        color: @color0;
      }
    }
  }
}
#customize-theme-controls {
  .widget-area-select {
    .selected {
      background-color: @color1;
      color: @color0;
    }
  }
}
.wp-slider {
  .ui-slider-handle {
    -webkit-box-shadow: inset 0 1px 0 @color6, 0 1px 0 rgba(0, 0, 0, 0.15);
    background: @color3;
    border-color: @color10;
    box-shadow: inset 0 1px 0 @color6, 0 1px 0 rgba(0, 0, 0, 0.15);
  }
  .ui-slider-handle.ui-state-hover {
    -webkit-box-shadow: inset 0 1px 0 @color6, 0 1px 0 rgba(0, 0, 0, 0.15);
    background: @color3;
    border-color: @color10;
    box-shadow: inset 0 1px 0 @color6, 0 1px 0 rgba(0, 0, 0, 0.15);
  }
  .ui-slider-handle.focus {
    -webkit-box-shadow: inset 0 1px 0 @color6, 0 1px 0 rgba(0, 0, 0, 0.15);
    background: @color3;
    border-color: @color10;
    box-shadow: inset 0 1px 0 @color6, 0 1px 0 rgba(0, 0, 0, 0.15);
  }
}
div#wp-responsive-toggle {
  a {
    &:before {
      color: @color4;
    }
  }
}
.wp-responsive-open {
  div#wp-responsive-toggle {
    a {
      background: @color1;
      border-color: transparent;
    }
  }
  #wpadminbar {
    #wp-admin-bar-menu-toggle {
      a {
        background: @color7;
      }
    }
  }
}