@import "../import"

@media screen and (max-width: 720px)
  #skn-content
    margin-top: 3em

#skn-content
  #skn-author-meta
    background-color: #263238
    display: flex
    justify-content: center
    align-items: center
    border-bottom: 0.2em solid #FF5722
    min-height: 128px
    animation: slideInDown 0.5s ease-in

    .author-meta-container
      padding: 0.5em
      display: flex
      flex-wrap: wrap
      justify-content: center
      min-height: inherit

    .uk-width-medium-1-4
      display: flex
      align-items: center

      img
        width: 100%
        height: 100%

    .uk-width-1-1,
    .uk-width-medium-3-4
      padding: 1em
      h1
        color: $color-theme
        text-transform: capitalize
        margin: 0em
      p
        color: #fff
      a,
      &:hover
        color: rgb(250,187,208)

  #skn-author-items
    display         : flex
    justify-content : center

    .author-container
      display         : flex
      flex-wrap       : wrap
