@import "../import"

@media screen and (max-width: 720px)
  #skn-content
    margin-top: 3em

#skn-content
  #skn-category-meta
    background-color: #263238
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    border-bottom: 0.2em solid #FF5722
    min-height: 5em

    div
      padding: 0.5em
      h1
        color: $color-theme
        margin-bottom: 0em
      p
        text-align: justify
        color: #fff
      a
        color: rgb(250,187,208)

  #skn-category-items
    display: flex
    justify-content: center

    .category-container
      display: flex
      flex-wrap: wrap
