@import "../import"

/*! Media For Phones */
@media screen and (max-width: 720px)
  #skn-home-banner
    flex-direction:  column
    .headline
      width: inherit
      height: 290px
      border-bottom: 1px solid #fff
    .by-category
      flex-direction: column
      .banner-list
        height: 150px
    .banner-list
      border-bottom: $grey-border

  #skn-home-content
    #skn-post-content
      margin-top: 4em

  #skn-splash-modal
    .content
      margin: 0.625em

/*! Media PCs */
@media screen and (min-width: 721px)
  #skn-home-banner
    height: 35em
    width: 100%
    .headline
      width: 35%
      height: inherit
    .by-category
      width: 65%
      height: inherit
      flex-wrap: wrap
      .banner-list
        width: 50%
        height: 50%
        a
          width: 100%
          height: 100%

#skn-splash-modal
  position: fixed
  top: 0em
  left: 0em
  background-color:  rgba(0,0,0,0.5)
  height: 100%
  width: 100%
  z-index: 10000
  display: flex
  justify-content:  center
  align-items:  center
  #skn-splash-container
    animation:  bounceInUp 1s ease-in
    min-height: 20em
    color: #fff
    background-color: #fff
    padding: 1em
    justify-content:  space-between
    display:  flex
    flex-direction:  column
    a
      display: block
      width: 100%
      .content
        flex-grow:  1
        color: #2e2e2e

.curtain-start
  position: relative
  bottom: 35em

.curtain-down
  position: relative
  transition: bottom 0.5s
  transition-timing-function:  ease-in-out
  bottom: 0em

  #skn-home-content
    min-height: 35em
    #skn-sponsors
      margin: 1em 0em
/*! Banners Constant Style */

#skn-home-banner
  display: flex
  .by-category
    display: flex

  .banner-list
    display: flex
    position: relative
    width: 100%
    height: inherit

    a: hover
      text-decoration:  none
    a
      display: block
      background-size:  cover
      background-position:  50% 50%
      width: inherit
      height: inherit

      .text-layer:hover
        background-color: rgba(248,187,208,0.5)
        .titles
          h2
            color: #5D0D28

      .text-layer
        width:  100%
        height:  inherit
        background-color:  rgba(94,53,177,0.4)
        display:  flex
        flex-direction:  column
        justify-content:  space-between

        .badges
          margin: 1em 1em
          display: flex
          justify-content:  space-between
          p
            margin: 0em
          p:first-child
            color: $dark-pink-color
            font-weight:  700
            text-transform:  uppercase
            font-size: 1.2em
          p:last-child
            img
              height: 2em
        .titles
          margin: 1em 1em
          h2
            color: #fff
            text-transform:  uppercase
            font-size: 2em

#skn-home-content
  display: flex
  flex-wrap: wrap
  background-color: #E0E0E0

  #skn-post-content
    width: 100%
    display: flex

    .post-container
      display: flex
      flex-wrap:  wrap

#skn-post-content
  justify-content:  center
  .skn-post
    flex-wrap:  wrap
    height: 10em
    background-color: blue
