@import "../import"

/*! Media For Phones */
@media screen and (max-width:720px)
  #skn-content
    margin-top: 2em
    .uk-width-medium-9-10,
    .uk-width-small-1-1
      flex-direction: column
      article.uk-article
        .tags
          text-align: left
        .share
          text-align: center
        h1
          font-size: 30px
          line-height: 34px
        .tags
          font-size: small

/*! Media PCs */
@media screen and (min-width:721px)
  #skn-content
    .uk-width-medium-9-10,
    .uk-width-small-1-1
      flex-direction: row
      article.uk-article
        margin-right: 2em
        .tags
          ul
            text-align: right
        .share
          ul
            text-align: right

#skn-content
  display: flex
  justify-content: center
  margin: 2em 0em
  font-family: $default-font

  .uk-width-medium-9-10,
  .uk-width-small-1-1
    display: flex
    background-color: #fff
    padding: 1em
    #content
      article.uk-article
        flex-direction: column
        .pc-feature-image
          img
            max-height: 35em
        a.category
          span
            color: #fff
            font-weight: 700
            background-color: $dark-pink-color
            padding: 0.5em
            text-transform: uppercase
        .category:hover
          text-decoration: none
        h1
          font-weight: 700
        p.uk-article-meta
          color: #000

          span,
          span > a
            color: $dark-pink-color

        p.uk-article-lead
          color: #9E9E9E
          font-style: italic

        p.uk-article-lead:before
          font-family: FontAwesome
          content: "\f10d"

        p.uk-article-lead:after
          font-family: FontAwesome
          content: "\f10e"

        p
          padding: 0em 0.5em
          em,
          i
            color: inherit
        blockquote
          border-left: 5px solid rgb(250, 187, 208)

        h1,
        h2,
        h3,
        h4,
        h5,
        h6
          padding: 0em 0.1em
        .uk-thumbnail
          padding: 0px
        .wp-caption
          max-width: 100%
          background: rgb(233, 30, 99)

          .alignleft,
          .alignright
            width: auto !important
          img
            margin: 0px auto
            width: 100%
          p
            color: white
            font-size: small
            a,
            &:hover
              color: white
              text-decotation: underline
        .tags
          ul
            margin-left: 0em
            li
              display: inline-block
              background-color: $dark-pink-color
              padding: 0.2em 0.4em
              font-family: $default-font
              a
                color: #fff
            li:hover
              a
                text-decoration: none
              background-color: #F06292
