@import "../import"

@media screen and (max-width:720px)
  #skn-feature-image
    height: 35em
    .header-content
      h1
        font-size: 1.7em
      p
        font-size: 1em
  #skn-content-container
    position: relative
    top: -8em
    .share
      background-color: transparent
    .skn-content
      font-size: 1.3em
      line-height: 1.6em

      h1,
      h2,
      h3,
      h4,
      h5,
      h6
        margin: 1em 1.5em
      p
        margin: 0.625em 1em
      blockquote
        margin: 0 !important
        p
          margin: 0

@media screen and (min-width:721px)
  #skn-feature-image
    height: 50em
  #skn-content-container
    position: relative
    top: -15em
    .share
      ul
        padding-top: 1em
        margin-left: 0
        margin-bottom: 0em
    .skn-content
      font-size: 1.5em
      line-height: 1.6em

      h1,
      h2,
      h3,
      h4,
      h5,
      h6
        margin: 1em 1em
        margin-left: 1.6em

div.uk-sticky-placeholder
  z-index: 10000

#skn-feature-image
  background-color: #2e2e2e
  background-size: cover
  background-position: center
  display: flex
  align-items: center
  justify-content: center

  .overlay
    position: absolute
    width: 100%
    height: 50em
    background-color: rgba(0,0,0,0.3)
    left: 0em
    top: 0em
    z-index: 500
  .header-content
    z-index: 1000
    h1
      text-align: center
      color: #fff
      text-transform: uppercase
      text-shadow: 3px 3px rgba(0,0,0,0.3)
      line-height: 1.2em
    p
      text-align: center
      color: #fff
      font-weight: 700
      font-size: 1.2em
      text-shadow: 3px 3px rgba(0,0,0,0.3)
      span,
      span > a
        color: #ffa3da

#skn-content-container
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  align-items: center
  z-index: 1000

  .skn-content
    background-color: #fff
    padding-top: 2em

    p
      margin: 2em
      &:first-child
        margin: 0 2em 2em

    em
      color: inherit

    ul,
    ol,
    table,
    dl,
    pre,
    address
      margin: 0em 3em

    .uk-thumbnail
      padding: 0px

    .wp-caption
      max-width: 100%
      background-color: rgb(233, 30, 99)

      .alignleft,
      .alignright
        width: auto !important
      img
        margin: 0px auto
        width: 100%
      p
        color: white
        font-size: small
        margin: 0 !important
        a,
        &:hover
          color: white
          text-decotation: underline
    blockquote
      border-left: 5px solid rgb(250, 187, 208)
    #jp-relatedposts
      margin: 0em 2em
