@import "../import"

@media screen and (max-width: 720px)
  #skn-content
    margin-top: 3em

#skn-content
  #skn-tag-meta
    background-color: #263238
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    border-bottom: 0.2em solid #D500F9
    min-height: 5em

    div
      padding: 0.5em
      h1
        color: $color-theme
        margin-bottom: 0em
        text-transform: uppercase
      p
        text-align: justify
        color: #fff

  #skn-tag-items
    display: flex
    justify-content: center

    .tag-container
      display: flex
      flex-wrap: wrap
