/* Key Frame Animation Block */
@keyframes bounce
  from, 20%, 53%, 80%, to
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
    -webkit-transform: translate3d(0,0,0)
    transform: translate3d(0,0,0)

  40%, 43%
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060)
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060)
    -webkit-transform: translate3d(0, -30px, 0)
    transform: translate3d(0, -30px, 0)

  70%
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060)
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060)
    -webkit-transform: translate3d(0, -15px, 0)
    transform: translate3d(0, -15px, 0)

  90%
    -webkit-transform: translate3d(0,-4px,0)
    transform: translate3d(0,-4px,0)

/* Animations */
@keyframes bounceInUp
  from, 60%, 75%, 90%, to
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)

  from
    opacity: 0
    transform: translate3d(0, 3000px, 0)
  60%
    opacity: 1
    transform: translate3d(0, -20px, 0)
  75%
    transform: translate3d(0, 10px, 0)
  90%
    transform: translate3d(0, -5px, 0)
  to
    transform: translate3d(0, 0, 0)

@keyframes bounceInDown
  from, 60%, 75%, 90%, to
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)

  0%
    opacity: 0
    transform: translate3d(0, -3000px, 0)
  60%
    opacity: 1
    transform: translate3d(0, 25px, 0)
  75%
    transform: translate3d(0, -10px, 0)
  90%
    transform: translate3d(0, 5px, 0)
  to
    transform: none

/* Animations */
@keyframes bounceInUp
  from, 60%, 75%, 90%, to
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)

  from
    opacity: 0
    transform: translate3d(0, 3000px, 0)

  60%
    opacity: 1
    transform: translate3d(0, -20px, 0)

  75%
    transform: translate3d(0, 10px, 0)

  90%
    transform: translate3d(0, -5px, 0)

  to
    transform: translate3d(0, 0, 0)

@keyframes bounceOutUp
  20%
    transform: translate3d(0, -10px, 0)
  40%, 45%
    opacity: 1
    transform: translate3d(0, 20px, 0)
  to
    opacity: 0
    transform: translate3d(0, -2000px, 0)

@keyframes zoomIn
  from
    opacity: 0
    transform: scale3d(.3, .3, .3)
  50%
    opacity: 1

@keyframes slideInDown
  from
    transform: translate3d(0, -100%, 0)
    visibility: visible
  to
    transform: translate3d(0, 0, 0)

.bounceInDown
  animation-name: bounceInDown

.bounceOutUp
  animation-name: bounceOutUp
  
.slideInDown
  animation-name: slideInDown
