*
  font-family: $default-font

@media screen and (max-width:720px)
  #skn-main-footer
    .uk-width-9-10
      flex-direction: column
      .brand
        p,
        a
          text-align: center
        .about
          width: 100%
          text-align: center
          .uk-button
            background-color: #EB842E
            color: #fff
            font-weight: 700
      .content
        flex-direction: column

  .alignleft, .alignright
    margin: none

@media screen and (min-width:721px)
  #skn-main-footer
    .uk-width-9-10
      flex-wrap: wrap
      .brand
        width: 35%
      .content
        width: 65%
        .list:first-child
          margin-left: 2em

html
  min-height: 100%

  body
    min-height: 100vh
    display: flex
    flex-direction: column

    main
      flex-grow: 1

/* Mobile Header */
#skn-mobile-nav
  width: 100%
  display: flex
  height: 3em
  border-bottom: $grey-border
  background-color: #fff

  button
    background-color: transparent
    border-color: transparent
    width: 100%
    height: 100%
    font-size: 2em
    color: #9E9E9E
    outline: 0

  button:focus
    background-color: transparent

  .nav
    text-align: center
    height: inherit
    width: 4em
    border-right: $grey-border

  .brand
    width: 100%
    position: relative

    a
      @extend .brand-image
      text-indent           : -1000em
      position              : absolute
      height                : 3.25em
      width                 : 15em
      z-index               : 1000

    input
      width: 96%
      height: 3.2em
      z-index: 2000
      font-family: 'Open Sans'
      border: none
      padding: 0 10px
      background-color: transparent
      &:focus
        outline: none
  .extra
    width: 4em

#skn-off-maincanvas
  .uk-offcanvas-bar
    background-color: #E91E63
    .uk-list
      padding-left: 0em

      li
        padding: 1em
        border-bottom: 1px white solid

        a
          padding-left: 1em
          color: #fff
          text-transform: capitalize
          font-size: 1.5em
          font-weight: 700

        a:visited,
        a:active
          color: #fff

/*Video Wrapper/
.video-wrapper
  position: relative
  //16:9
  padding-bottom: 56.25%
  padding-top: 25px
  height: 0
  margin-bottom: 36px

  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 99.9%
    .youtube-video
      margin: 10px !important

/* PC Header */
#skn-pc-nav
  display: flex
  flex-wrap: nowrap
  justify-content: center
  background-color: #fff
  border-top: 2px solid #E91E63
  border-bottom: 1px solid #BDBDBD
  z-index: 980
  .nav-container
    height: inherit
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    border-left: $grey-border
    border-right: $grey-border
    .brand
      position: relative
      margin: 0em 0.5em
      width: 230px

      a
        @extend .brand-image
        text-indent: -1000em
        position: absolute
        height: 3.5em
        width: inherit
        z-index: 1000

      input
        width: 99%
        height: 2.7em
        z-index: 2000
        background-color: transparent

    .menus
      flex-grow: 1
      margin: 0em 1em

      ul
        width: inherit

        li
          padding: 0em 1em
          display: inline-flex
          a
            color: #E91E63
            text-transform: capitalize
            font-weight: 600
          a:hover
            color: rgb(94,53,177)
            text-decoration: none

    .search
      input
        width: 18em
        height: 3.4em
        font-family: 'Open Sans'
        border: none
        padding: 0 10px
        background-color: transparent
        &:focus
          outline: none

/* Tooltips */

.uk-tooltip
  display: none
  position: absolute
  z-index: 1030
  box-sizing: border-box
  max-width: 200px
  padding: 5px 8px
  background: $dark-pink-color
  color: #333
  font-size: 12px
  line-height: 18px

  .uk-tooltip-inner
    color: #fff
    font-family: $default-font

.uk-tooltip:after
  content: ""
  display: block
  position: absolute
  width: 0
  height: 0
  border: 5px dashed $dark-pink-color

.uk-tooltip-top:after,
.uk-tooltip-top-left:after,
.uk-tooltip-top-right:after
  bottom: -5px
  border-top-style: solid
  border-bottom: none
  border-left-color: transparent
  border-right-color: transparent
  border-top-color: $dark-pink-color

.uk-tooltip-bottom:after,
.uk-tooltip-bottom-left:after,
.uk-tooltip-bottom-right:after
  top: -5px
  border-bottom-style: solid
  border-top: none
  border-left-color: transparent
  border-right-color: transparent
  border-bottom-color: $dark-pink-color

.uk-tooltip-top:after,
.uk-tooltip-bottom:after
  left: 50%
  margin-left: -5px

.uk-tooltip-top-left:after,
.uk-tooltip-bottom-left:after
  left: 10px

.uk-tooltip-top-right:after,
.uk-tooltip-bottom-right:after
  right: 10px

.uk-tooltip-left:after
  right: -5px
  top: 50%
  margin-top: -5px
  border-left-style: solid
  border-right: none
  border-top-color: transparent
  border-bottom-color: transparent
  border-left-color: $dark-pink-color

.uk-tooltip-right:after
  left: -5px
  top: 50%
  margin-top: -5px
  border-right-style: solid
  border-left: none
  border-top-color: transparent
  border-bottom-color: transparent
  border-right-color: $dark-pink-color

#skn-main-footer
  background-color: #263238
  width: 100%
  display: flex
  justify-content: center
  z-index: 9999
  p
    color: #E5F6FE
  .uk-width-9-10
    display: flex
    margin: 1em 0em
    .brand
      .about
        width: 100%
        text-align: center
        .uk-button
          background-color: #EB842E
          color: #fff
          font-weight: 700
    .content
      display: flex
      .list
        margin-left: 1em
        h3
          font-weight: 700
          color: #fff
        .uk-list
          margin-left: 1em
          li > a
            color: #fff
            text-decoration: underline
    .copyright
      width: 100%
      p
        text-align: center
        font-size: 0.8em
      a,
      &:hover
        color: $color-theme

.share
  ul
    margin-top: 1em
    margin-left: 0em
    li
      display: inline-block
      padding: 0.5em 0.8em
      font-family: $default-font
      margin-bottom: 1em
      a
        color: #fff

    /* Share Button Colors */
    li.facebook
      background-color: $facebook-color
    li.twitter
      background-color: $twitter-color
    li.pinterest
      background-color: $pinterest-color
    li.google-plus
      background-color: $google-color
    li:hover
      a
        text-decoration: none

/* Main Font Family */
#skn-content
  flex-grow: 1

html
  background-color: $grey-color

h1,
h2,
h3,
h4,
h5,
h6,
p
  font-family: $default-font

h1,
h2,
h3,
h4,
h5,
h6
  font-weight: 700

.content-styles
  aside.pull-quote
    border: none
    font-size: large
    line-height: 1.8em

    p:first-child:before
      font-family: FontAwesome
      content: "\f10d"
      font-size: 2em
      position: relative
      bottom: 0.5em
      left: .1em
      color: $dark-pink-color

    p:last-child:after
      font-family: FontAwesome
      content: "\f10e"
      font-size: 2em
      position: relative
      left: 0.5em
      right: .1em
      color: $dark-pink-color

  .blockquote
    padding-left: 15px
    border-left: 5px solid #aaa
    font-size: 16px
    line-height: 22px
    background: #E9EAED
    padding: 0.625em

  .aligncenter
    display: block
    margin-left: auto
    margin-right: auto

  .alignleft
    float: left
    margin-right: .625em

  .alignright
    float: right
    margin-left: .625em

  embed,
  iframe,
  .tweet,
  .twitter-tweet,
  .twitter-tweet-rendered,
  #twitter-widget-0,
  .fb_iframe_widget,
  #___post_0,
  .instagram-media
    margin: 0 auto !important
    display: block
    text-align: center
