$color-theme    : #FFA3D0
$grey-color     : #E0E0E0
$default-font   : 'Open Sans', sans-serif
$grey-border    : 1px $grey-color solid
$dark-pink-color: #E91E63

$pinterest-color: #cb2027
$google-color   : #dd4b39
$twitter-color  : #00aced
$facebook-color : #3b5998

.brand-image
  background-image      : url("/wp-content/themes/sakura-con/assets/images/sakura-connect-brand.png")
  background-size       : contain
  background-repeat     : no-repeat
  background-position   : 50%
